.main {
  margin-top: 10%;
}
.main p {
  font-size: 2em!important;
}
@media (max-width:768px) {
  .main li {
    padding: 2% 0 2% 10%;
  }
}
@media (min-width:768px) {
  .main li {
    padding: 1% 0 1% 5%;
  }
}
@media (max-width:768px) {
  .main {
    margin-top: 30%;
  }
}
