<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{:C('SITE_NAME')} - 科学上网您最好的选择</title>
        <link href="__PUBLIC__/pictures/logo.ico" rel="shortcut icon">
        <!-- Bootstrap 文件 -->
        <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
        <script src="__PUBLIC__/js/jquery.min.js"></script>
        <script src="__PUBLIC__/js/bootstrap.min.js"></script>
        <!-- 字体文件 -->
        <link rel="stylesheet" href="__PUBLIC__/css/typo.css">
        <!-- 自定义css文件 -->
        <link rel="stylesheet" href="__PUBLIC__/css/Admin/comboManage.css">
    </head>
    <body>
        <div class="info">
            <span>套餐管理</span>
            <button type="button" id="add-combo-btn" class="btn btn-success add-combo" data-toggle="modal" data-target="#combo-modal">添加</button>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>套餐名称</th>
                        <th>套餐流量</th>
                        <th>套餐时长</th>
                        <th>套餐费用</th>
                        <th>备注说明</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="combo_data" id="combo">
                        <tr>
                            <td>{$i}</td>
                            <td>{$combo.title}</td>
                            <td>{$combo['flow'] / 1024} G</td>
                            <td>{$combo.duration} 天</td>
                            <td>{$combo.cost} RMB</td>
                            <td>{$combo.remark}</td>
                            <!-- <td><?php echo $combo['status'] == 1 ? '可用' : '不可用';?></td> -->
                            <td>
                                <select class="combo-status" name="combo_status" data-cid="{$combo.cid}">
                                    <option value="1" <?php echo $combo['status'] == 1 ? 'selected="selected"' : '';?>>可用</option>
                                    <option value="0" <?php echo $combo['status'] == 0 ? 'selected="selected"' : '';?>>停用</option>
                                </select>
                            </td>
                        </tr>
                    </volist>
                </tbody>
            </table>
        </div>
    </body>
    <!-- Modal -->
    <div class="modal fade" id="combo-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" action="{:U('Home/Ajax/addCombo')}" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">添加套餐</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="cid" value="" id="combo-id">
                        <div class="form-group">
                            <label for="combo-title" class="col-sm-3 control-label">套餐名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="combo_title" id="combo-title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="combo-node" class="col-sm-3 control-label">选用节点</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="combo_node" id="combo-node">
                                    <volist name="node_data" id="node">
                                        <option value="{$node.nid}" selected="selected">{$node.name}</option>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="combo-flow" class="col-sm-3 control-label">套餐流量/GB</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="combo_flow" id="combo-flow" min="0" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="combo-duration" class="col-sm-3 control-label">套餐时长/天</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="combo_duration" id="combo-duration" min="0" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="combo-cost" class="col-sm-3 control-label">套餐费用/RMB</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="combo_cost" id="combo-cost" min="0" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="combo-remark" class="col-sm-3 control-label">备注说明</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="combo_remark" id="combo-remark">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否启用</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="combo_status" id="combo-status">
                                    <option value="1" selected="selected">启用</option>
                                    <option value="0">停用</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" id="variable_btn" class="btn btn-primary">添加</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <import type='js' file="js.comboManage"/>
</html>
