<extend name="Admin:dashboard"/>
<block name="title">
    <title>{:C('SITE_NAME')} 后台管理</title>
</block>
<block name="customer-css">
    <!-- <link rel="stylesheet" href="__PUBLIC__/css/User/editPersonInfo.css"> -->
</block>
<block name="main">
    <div class="info">
        <span>系统设置</span>
    </div>
    <div class="container">
        <div class="set-pannel row">
            <form class="form-horizontal col-md-12" action="{:U('Home/Ajax/editConfig')}" method="post">
                <div class="form-group">
                    <label for="announcement" class="col-sm-2 control-label">公告面板</label>
                    <div class="col-sm-8">
                        <input type="text" name="announcement" maxlength="80" class="form-control" value="{$config_data['announcement']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="signin" class="col-sm-2 control-label">是否开启签到</label>
                    <div class="col-sm-8">
                        <input type="radio" name="signin" value="1" <?php echo $config_data['signin'] == 1 ? 'checked' : '';?>>开启
                        <input type="radio" name="signin" value="0" <?php echo $config_data['signin'] == 0 ? 'checked' : '';?>>关闭
                    </div>
                </div>
                <div class="form-group">
                    <label for="signin_interval" class="col-sm-2 control-label">签到间隔/小时</label>
                    <div class="col-sm-8">
                        <input type="number" name="signin_interval" min="0" class="form-control" value="{$config_data['signin_interval']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="signin_max" class="col-sm-2 control-label">签到可得最大流量/M</label>
                    <div class="col-sm-8">
                        <input type="number" name="signin_max" min="0" class="form-control" value="{$config_data['signin_max']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="signin_min" class="col-sm-2 control-label">签到可得最小流量/M</label>
                    <div class="col-sm-8">
                        <input type="number" name="signin_min" min="0" class="form-control" value="{$config_data['signin_min']}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="invite" class="col-sm-2 control-label">是否开启邀请注册</label>
                    <div class="col-sm-8">
                        <input type="radio" name="invite" value="1" <?php echo $config_data['invite'] == 1 ? 'checked' : '';?>>开启
                        <input type="radio" name="invite" value="0" <?php echo $config_data['invite'] == 0 ? 'checked' : '';?>>关闭
                    </div>
                </div>
                <button type="submit" name="button" class="btn btn-primary col-md-offset-9">提交</button>
            </form>
        </div>
    </div>
</block>
