<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>AppSocks - 科学上网您最好的选择</title>
	<link href="__PUBLIC__/pictures/logo.ico" rel="shortcut icon">
	<!-- Bootstrap 文件 -->
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<!-- 字体文件 -->
	<link rel="stylesheet" href="__PUBLIC__/css/typo.css">
	<!-- 自定义css文件 -->
	<link rel="stylesheet" href="__PUBLIC__/css/Admin/inviteManage.css">
</head>

<body>
	<div class="main">
		<div class="info">
			<span>邀请管理</span>
			<button class="btn btn-success add-invite">添加</button>
		</div>
		功能暂未实现
	</div>
</body>

</html>
