<extend name="Admin:dashboard"/>
<block name="title"><title>{:C('SITE_NAME')} 后台管理</title></block>
<block name="customer-css">
    <!-- <link rel="stylesheet" href="__PUBLIC__/css/User/editPersonInfo.css"> -->
</block>
<block name="main">
    <div class="panel panel-info">
        <div class="panel-heading">统计信息</div>
        <div class="panel-body">
            <p>注册用户总数：{$statistics_data['user_sign']} 人</p>
            <p>已激活用户数：{$statistics_data['user_active']} 人</p>
            <p>共产生流量：{$statistics_data['flow_used']} M ≈ {$statistics_data['flow_used']/1024|round} G</p>
        </div>
    </div>
</block>
