.main {
	margin-top: 10%;
}
.main .sidebar-nav ul li a {
	font-size: 16px;
}
.main .sidebar-nav ul li a:hover {
	color: #FFF;
	background-color: #4E7497;
}
iframe{
	position: relative;
	display: block;
	overflow: hidden;
}
