.main {
	margin-top: 100px;
}
.main .panel {
	height: 500px;
}
.main .panel .panel-body p {
	padding: 5px 20px 20px 5px;
	font-size: 16px;
	text-align: center;
}
.main .panel .panel-body a {
	width: 100%;
}
