<extend name="Public:base"/>
<block name="customer-css">
    <link rel="stylesheet" href="__PUBLIC__/css/Public/registe.css">
</block>
<block name="main">
    <section id="banner">
        <div class="main container">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <img src="__PUBLIC__/pictures/Connection.png" class="registe-logo" alt="Appsocks register_logo.jpg">
                </div>
                <div class="col-md-5 col-xs-12">
                    <div class="log-pannel">
                        <div class="space-box col-md-12 col-sm-0"></div>
                        <p class="log-pannel-msg">
                            <span>注册</span>成为<b>{:C('SITE_NAME')}</b>一员，开启高速科学上网体验</p>
                        <form action="__APP__/Public/doRegiste" method="post">
                            <div class="form-group input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </span>
                                <input type="text" class="form-control" name="nickname" placeholder="昵称" required>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                </span>
                                <input type="email" class="form-control" name="email" placeholder="电子邮箱" required>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                </span>
                                <input type="password" class="form-control" id="password" name="password" placeholder="密码" required>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                                </span>
                                <input type="password" class="form-control" id="re-password" name="repassword" placeholder="确认密码" required>
                            </div>
                            <div class="form-group input-group row">
                                <div class="col-md-6 col-xs-12">
                                    <img class="form-control validation-img" alt="验证码" src="{:U('Public/verifyCode')}" title="点击刷新">
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <input class="form-control validation-text" name="verify" placeholder="请输入验证码" type="text" required>
                                </div>
                            </div>
                            <p class="tip">注册即表明同意遵守本站相关协议</p>
                            <button type="submit" class="btn btn-primary registe-btn form-control">注册</button>
                        </form>
                        <a class="have-account" role="button" href="__APP__/Public/login">什么！已经有帐号？</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</block>
<block name="footer"></block>
<block name="customer-js">
    <script type="text/javascript">
        var path = "{:U('Public/verifyCode')}";
    </script>>
    <import type='js' file="js.verifyPwd"/>
    <import type='js' file="js.verifyCode"/>
</block>
