<extend name="Public:base"/>
<block name="customer-css">
    <link rel="stylesheet" href="__PUBLIC__/css/Index/menu.css">
</block>
<block name="main">
    <section id="banner">
        <p><h2>更多套餐，更多精彩</h2></p>
        <a role="button" href="#one" class="btn scrolly">点我更多</a>
    </section>
    <section id="one">
        <div class="container">
            <div class="row">
                <volist name="menu_data" id="menu">
                    <div class="col-md-4 col-xs-12">
                        <div class="combo combo-info">
                            <div class="combo-heading">{$menu.title}</div>
                            <div class="combo-body">
                                <p>每月{$menu['flow']/1024}GB流量</p>
                                <p>{$menu.name}</p>
                                <p>{$menu.remark}</p>
                                <p>UDP转发：不支持</p>
                                <p>{$menu.cost} RMB</p>
                                <p>{$menu.duration}天</p>
                                <a type="role" class="btn btn-primary" href="{:U('Home/Index/cart', array('cid' => $menu['cid']))}">立即订购</a>
                            </div>
                        </div>
                    </div>
                </volist>
            </div>
        </div>
    </section>
</block>
<block name="footer"></block>
