<extend name="User:dashboard"/>
<block name="customer-css">
    <link rel="stylesheet" href="__PUBLIC__/css/User/editPersonInfo.css">
</block>
<block name="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <form action="{:U('User/editPersonInfo')}" method="post">
                    <div class="form-group">
                        <label for="old-password">原始密码：</label>
                        <input type="password" class="form-control" name="old_password" id="old-password" placeholder="必填" required>
                    </div>
                    <div class="form-group">
                        <label for="new-password">新密码：</label>
                        <input type="password" class="form-control" name="new_password" id="password" placeholder="确保密码高强度" required>
                    </div>
                    <div class="form-group">
                        <label for="re-new-password">确认密码：</label>
                        <input type="password" class="form-control" id="re-password" placeholder="确保密码高强度" required>
                    </div>
                    <button type="submit" class="btn btn-warning">修改</button>
                </form>
            </div>
        </div>
    </div>
</block>
<block name="customer-js">
    <import type='js' file="js.verifyPwd"/>
</block>
