.registe-logo {
	width: 40%;
	padding: 50px;
}
.have-account {
	font-size: 0.8em;
}
.log-pannel {
	padding: 50px;
}
.log-pannel-msg {
	padding: 10px 0 10px 0;
	font-size: 15px;
}
.log-pannel-msg span {
	font-size: 23px;
}
.validation-img {
	padding: 0;
	border: 0;
}
.tip {
	margin: 5% 0 4% 0;
}
@media (min-width:768px) {
	.registe-logo {
		margin-top: 35%;
	}
	.log-pannel {
		padding-top: 35%;
	}
}
@media (max-width:768px) {
	.registe-logo {
		margin-top: 0%;
		width: 70%;
	}
	.log-pannel {
		padding: 10px 0 10px 0;
	}

}
.validation-img {
	margin: 20px 0 20px 0;
}
.validation-text {
	margin: 20px 0 20px 0;
}
