.main .feature .title {
  margin: 30px 0 30px 0;
  font-size: 30px;
  font-weight: 700;
  color: #000;
}
.main .feature img {
  margin-top: 10%;
}
.main .feature .notice {
  margin: 20px 0 20px 0;
  font-size: 15px;
}
.main .feature img {
  width: 120px;
}
.main .customer .title {
  margin: 30px 0 30px 0;
  font-size: 30px;
  font-weight: 700;
  color: #000;
}
.main .customer img {
  margin-top: 10%;
}
.main .customer .notice {
  margin-top: 40px;
  padding: 5px 0 15px 10px;
  font-weight: bolder;
  font-size: 16px;
  color: #000;
  border-left: 3px solid #000;
}
.play .carousel-caption {
  font-size: 5em;
}
@media (min-width:768px) {
  .carousel-caption {
    font-size: 5em !important;
  }
}
@media (max-width: 768px) {
  .notice {
    font-size: 12px !important;
  }
  .title {
    margin-top: 50px !important;
  }
  .carousel-caption {
    font-size: 2em;
  }
}
@media (min-width:1400px) {
  .item {
    max-height: 800px !important;
    overflow: hidden;
  }
}
@media (max-width:800px) {
  body {
    margin-top: 10%;
  }
  .item {
    max-height: 100% !important;
    overflow: hidden;
  }
}
